[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Goodreader"]
	path = Goodreader
	url = https://github.com/chaoliu-cl/goodreader
[submodule "LBDiscover"]
	path = LBDiscover
	url = https://github.com/chaoliu-cl/lbdiscover
[submodule "conversim"]
	path = conversim
	url = https://github.com/chaoliu-cl/conversim
[submodule "textAnnotatoR"]
	path = textAnnotatoR
	url = https://github.com/chaoliu-cl/textannotator
